<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ . }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <script>
    function sendHeight() {
      const height = document.documentElement.scrollHeight || document.body.scrollHeight;
      window.parent.postMessage({ type: 'boiltask-oj-set-height', slug: "{{- .Slug -}}", height: height }, '*');
    }
    window.addEventListener('load', sendHeight);
    window.addEventListener('resize', sendHeight);
  </script>
  {{ if .Param "math" }}
  {{ partialCached "math.html" . }}
  {{ end }}
</head>

<body>
  <main role="main">
    {{ block "main" . }}{{ end }}
  </main>
  <script>
    // 如果param中包含?hidden_title，则把class="dida-title"的元素隐藏
    const urlParams = new URLSearchParams(window.location.search);
    const hiddenTitle = urlParams.get('hidden_title');
    if (hiddenTitle) {
      const titleElements = document.querySelectorAll('h1');
      titleElements.forEach(element => {
        element.style.display = 'none';
      });
    }
    const hiddenLimit = urlParams.get('hidden_limit');
    if (hiddenLimit) {
      const limitElements = document.querySelectorAll('.oj-limit');
      limitElements.forEach(element => {
        element.style.display = 'none';
      });
    }

    window.parent.postMessage({
      type: 'boiltask-oj-problem-info',
      title: "{{ .Params.ProblemParams.ProblemTitle }}",
      time_limit: "{{ .Params.ProblemParams.TimeLimit }}",
      memory_limit: "{{ .Params.ProblemParams.MemoryLimit }}",
    }, '*');
  </script>
</body>

</html>